.productos__grid{
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px){ 
    .productos__grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1200px){ 
    .productos__grid{
        grid-template-columns: repeat(3,1fr);
    }
}

.producto{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
}
.producto__nombre{
    font-size: 3rem;
    text-transform: uppercase;
}
.producto__descripcion{
    font-size: 1.6rem;
}
.producto__precio{
    color:var(--primary);
    font-weight: 900;
    font-size: 6rem;
    margin: 0;
}
.producto__enlace{
    text-decoration: none;
    margin-top: 2rem;
    display: block;
    color:var(--negro);
    padding:1rem 5rem;
    border: 2px solid var(--primary);
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    transition-property: background-color;
    transition-duration: 0.3s;
}
.producto__enlace:hover{
    background-color: var(--primary);
    color: var(--blanco);
}